<!DOCTYPE HTML>

<!-- <HTML lang = "zh-TW"> 繁體中文 -->
<!-- <HTML lang = "zh-CN"> 簡體中文 -->
<!-- <HTML lang = "ja">    日文 -->
<!-- <HTML lang = "ko">    韓文 -->
<HTML lang="en">    <!-- Language: 英文 -->

<!-- 標頭 -->
<HEAD>
    <meta charset="UTF-8">  <!-- UTF-8 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  <!-- 響應式網頁 -->

    <!-- 標題 -->
    <title>Xerars Blog</title>

    <!-- ICON -->
    <link rel="icon" >

    <!-- CSS -->
    <link rel="stylesheet" href="./css/style.css">


    <!-- JS -->

</HEAD>

<!-- 內文 -->
<BODY>

</BODY>
</HTML>
